.header {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    transition: top 0.3s;
    align-items: center;
}

.header a {
    float: left;
    display: block;
    color: rgb(27, 29, 30);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header-text {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
}

.subtitle {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.25em;
}

.menu {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: rgb(27, 29, 30);
}

.menu-item {
    padding: 20px;
}

.title {
    align-items: center;
    font-family: 'PT Serif', serif;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: rgb(27, 29, 30);
}