<div class="footer-main" [@scrollAnimation]="state">

    <div class="block">
        <h2> Crecoleta</h2>
        <p>Sadovaya 1437
            <br> Crecoleta, CP 113
            <br> Moscow, Russia
            <br> Tel:1235.3226/ 4813.5594
            <br> Lunes a viernes de 10 a 19.30 hs. 
            <br> Sabados de 10.30 a 13.30 hs
            <br> decor@interior.com.ru
    </div>

    <div class="block">
        <h2>Petersburgo</h2>
        <p>Perova str 127
            <br> Saint Petersburg
            <br> CP 1643
            <br> Russian Federation,
            <br> Tel:3237.4012 / 12
            <br>Lunes a viernes de 9 a 19 hs.
            <br> Sabados de 10 a 13.30 hs. decor@interior.com.ru
        </p>
    </div>

    <div class="block">
        <div class='footer-menu' ng-class="{'active': showNav}">
            <a class="menu-item magic" routerLink="">Home</a>
            <a class="menu-item magic" routerLink="work">Work</a>
            <a class="menu-item magic" routerLink="about" routerLinkActive="active">About</a>
            <a class="menu-item magic" routerLink="contact" routerLinkActive="active">Contact</a>
        </div>

    </div>