<div class="history">
    <div class="history1" [@scrollAnimations]="state">
        <p>35 años poniendo lo mejor nosotros</p>
      </div>
  <div class="history-photo">
    <img src="assets/about2.jpg" class="image">
    <div class="overlay">
      <img src="assets/about1.jpg" class="image">
    </div>
  </div>

<div class="history-text">
 
  <div class="history2" [@scrollAnimations]="state">
    <p>Con 35 años de experiencia, en La Ferme no solo nos dedicamos a proyectos de casas particulares sino también a brindar
      asesoramiento y ejecución de trabajos para restaurantes, bares, hoteles y centros culturales y de convenciones.</p>
  </div>
</div>
</div>
