<div class="work-main">
    <div class="work-t" style="width: 800px;" id="work">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
        quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
        dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
        laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. </div>
    <div class="imagef">
        <img src="assets/img1.jpg" style="width: 1300px;">

        <div class="content">
            <span class="work-title">Bathroom</span>
        </div>

    </div>
    <div class="imagef">
        <img src="assets/img2.jpg" style="width: 1300px;">
        <div class="content">
            <span class="work-title">Living Room</span>
        </div>
    </div>
    <div class="imagef">
        <img src="assets/img3.jpg" style="width: 1300px;">
        <div class="content">
            <span class="work-title">Badroom</span>
        </div>
    </div>

</div>




<!-- <div class="work">
<div class="img-work">
  <div class="container">
    <div class="imagef">
      <img src="assets/img1.jpg" style="width: 1300px;">
      <div class="content">
        <span class="work-title">Bathroom</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="images">
      <img src="assets/img2.jpg" style="width: 1300px;">
      <div class="content">
        <span class="work-title">Living Room</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="image">
      <img src="assets/img3.jpg" style="width: 1300px;">
      <div class="content">
        <span class="work-title">Sleeping Room</span>
      </div>
    </div>
  </div>
</div>
</div> -->