<div class="photo-main">
  <img src="assets/Home-Interior-Design-Luxury.jpg" style="width: 1435px;">
  <div style="padding:15px 15px 80px;font-size:30px; position:fixed">
      <div class="slogan">
          <span class="slogan-design">We listen, 
            we create, <br>
            you enjoy.</span>
      </div>
</div>
  </div>
  <app-text-animation></app-text-animation>
  <div class="app-photo">
      <app-photo [photo]="photo1"></app-photo>
      <app-photo [photo]="photo2"></app-photo>
  </div>
  <div class="app-photo">
      <app-photo [photo]="photo3"></app-photo>
      <app-photo [photo]="photo4"></app-photo>
  </div>
  <div class="app-photo">
  
      <app-photo [photo]="photo5"></app-photo>
      <app-photo [photo]="photo6"></app-photo>
  
  </div>
  
